<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Propar</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" type="text/css">
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <section id="authentification">
        <fieldset>
            <form action="../ctrl/authentification.action.php" method="post">
                <label for="login">Login : </label>
                <input type="text" id="login" name="login">
                <label for="password">Mot de passe : </label>
                <input type="text" id="password" password="login">
                <button type="submit">Valider</button>
            </form>
        </fieldset>
    </section>
    <section id="datatable">

    </section>
    <section id="tableStatuInProgress">
        <fieldset>
            <h2>Listes des opérations en cours</h2>
            <table>
                <tr>
                    <th>Login</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Type d'opération</th>
                    <th>Nom du client</th>
                    <th>Prénom du client</th>
                </tr>
                <tr><td>1</td>
                        <td>2</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr><td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr><td>5</td>
                 <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                 <td>5</td>
                    <td>5</td>
                 <td>5</td>
             </tr>
            </table>
        </fieldset>
    </section>
    <section id="tableStatutFinish">
        <fieldset>
            <h1>Liste des opérations finies</h1>
            <table>
                <tr>
                    <th>Login</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Type d'opération</th>
                    <th>Nom du client</th>
                    <th>Prénom du client</th>
                </tr>
                <tr><td>1</td>
                    <td>2</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr><td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr><td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
            </table>
        </fieldset>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="app.js"></script>
</body>
</html>