<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Propar</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
<section id="authentification">

    <form action="../ctrl/authentification.action.php" method="post">
        <label for="login">Login : </label>
        <input type="text" id="login" name="login">
        <label for="password">Mot de passe : </label>
        <input type="text" id="password" password="login">
        <button type="submit">Valider</button>
        </form>
</section>
<section id="tableStatuInProgress">
    <h2>Listes des opérations en cours</h2>
    <table>
        <tr>
            <th>Login</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Description</th>
            <th>Status</th>
            <th>Type d'opération</th>
            <th>Nom du client</th>
            <th>Prénom du client</th>
        </tr>
        <tr><td>1</td>
                <td>2</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr><td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr><td>5</td>
         <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
         <td>5</td>
            <td>5</td>
         <td>5</td>
     </tr>
    </table>
</section>
<section id="tableStatutFinish">
    <h1>Liste des opérations finies</h1>
    <table>
        <tr>
            <th>Login</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Description</th>
            <th>Status</th>
            <th>Type d'opération</th>
            <th>Nom du client</th>
            <th>Prénom du client</th>
        </tr>
        <tr><td>1</td>
            <td>2</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr><td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr><td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
            <td>5</td>
        </tr>
    </table>
</section>
</body>
</html>