<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Opération ajoutée</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
<fieldset>
    <h1>Nouvelle opération ajoutée : </h1>
    <label for="worker">Opération attribuée à : </label>
    <input type="text" id="worker" readonly></br>
    <label for="idOperation">Référence de l'opération : </label>
    <input type="text" id="idOperation" readonly></br>
</fieldset>
<button>Valider</button>
</body>
</html>