<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Création profil employé</title>
</head>
<header>
    <h1>Création profil employé</h1>
</header>
<body>
<section id="createWorker">
    <label for="surname">Nom : </label>
    <input type="text" id="surname" readonly>
    <label for="name">Prenom : </label>
    <input type="text" id="name" readonly>
    <label for="login">Identifiant : </label>
    <input type="text" id="login" readonly>
    <label for="password">Mot de passe : </label>
    <input type="text" id="password" readonly>
</section>
<button>retour Menu</button>
</body>
</html>