<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu expert</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <section id="profil">
        <fieldset>
            <h1>Profil</h1>
            <button type="button">Déconexion</button>
        </fieldset>
    </section>
    <section id="expertMenu">
        <fieldset>
        <h1>Menu</h1>
            <button id="createWorker" type="submit">Creer profil employé</button></br>
            <button id="calculCA" type="submit">Calcul du Chiffre d'affaire</button></br>
            <button id="addOperation" type="submit">Ajouter une opération</button></br>
            <button id="FinishOperation" type="submit">Terminer une opération</button></br>
            <button id="operationInProgress" type="submit">Operations en cours</button></br>
        </fieldset>
    </section>
</body>
</html>