<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Opération terminée</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <fieldset>
        <section id="finishOperation">
            <label for="idOperation">L'opération numéro : </label>
            <input type="text" id="idOperation" readonly></br>
            <label for="identityCustomer">concernant le client : </label>
            <input type="text" id="identityCustomer"readonly></br>
            <label for="status">a pour statut : </label>
            <input type="text"id="status" readonly>
        </section>
    </fieldset>
    <button>Valider</button>
</body>
</html>