<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création profil employé</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
<section id="formWorker">
    <h1>Création du profil employé</h1>
    <form action="" method="post">
        <label for="workerSurname">Nom : </label>
        <input type="text" id ="workerSurname">
        <label for="workerName">Prénom :  </label>
        <input type="text" id="workerName">
       <fieldset>
           <legend>Role : </legend>
           <label for="expert">Expert </label>
           <input type="radio" id="expert" name="role" value="expert">
           <label for="senior">Senior </label>
           <input type="radio" id="senior" name="role" value="senior">
           <label for="apprenti">Apprenti </label>
           <input type="radio" id="apprenti" name="role" value="apprenti">
       </fieldset>
        <button type="submit"> Valider </button>
        <button>Retour au Menu</button>


    </form>
</section>
</body>
</html>