<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finir opération</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <section id="finishOperation">
        <h1>Quelle opération souhaitez-vous terminer?</h1>
        <table>
            <tr>
                <th>Numéro de l'opération</th>
                <th>Nom du client</th>
                <th>Prénom du client</th>
                <th>Statut</th>
                <th>Valider</th>
            </tr>
            <tr>
                <td>1</td>
                <td>TITI</td>
                <td>Tata</td>
                <td>En cours</td>
                <td><button>Valider</button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>TOTO</td>
                <td>Titi</td>
                <td>En cours</td>
                <td><button>Valider</button></td>
            </tr>
        </table>
    </section>
    <button>Retour au Menu</button>
</body>
</html>