<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu senior apprenti</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <section id="seniorProfil">
        <fieldset>
            <h1>Profil : </h1>
            <button type="button">Déconexion</button>
        </fieldset>
    </section>
    <section id="seniorMenu">
        <fieldset>
            <h1>Menu</h1>
            <button id="addOperation" type="submit">Ajouter une opération</button></br>
            <button id="FinishOperation" type="submit">Terminer une opération</button></br>
            <button id="operationInProgress" type="submit">Opérations en cours</button></br>
        </fieldset>
    </section>
</body>
</html>