<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu senior apprenti</title>
</head>
<header>
    <h1>Nettoyage Propar</h1>
</header>
<body>
    <section id="profil">
        <button type="button">Déconexion</button>
    </section>
    <section id="seniorMenu">
    <h1>Menu</h1>
    <button id="addOperation" type="submit">Ajouter une opération</button>
    <button id="FinishOperation" type="submit">Terminer une opération</button>
    <button id="operationInProgress" type="submit">Opérations en cours</button>
    </section>
</body>
</html>